.App {
  text-align: center;
  width: 100%;
}
html, body {
  margin:0;
  height: 100%;
  overflow: hidden;
}

body {
  position:relative;
}

select {
  color: white;
}


.websiteName {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 5%;
}

.button{
  font-size: 16px;
  padding: 4px;
  display: inline-block;
}
.buttonContainer{
  padding:4px;
  display: inline-block;
}
.searchBarContainer{
  width: 70%;
  display: inline-block;
  padding-bottom: 3%;
}
.distanceContainer{
  width: 30%;
  display: inline-block;
}

.header-container {
  position: relative;
}
.header{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.header.active {
  opacity: 1
}
.background-image {
  display:flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  position:absolute;
  opacity: 0.5;
  transition: 1s;
}

.img1 {
  opacity: 0.5;
  display:flex;
  overflow: hidden;
  flex-shrink:0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.img2 {
  opacity: 0;
  display:flex;
  overflow: hidden;
  flex-shrink:0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

.img3 {
  opacity: 0;
  display:flex;
  overflow: hidden;
  flex-shrink:0;
  min-width: 100%;
  min-height: 100%;
  z-index: -3;
}